@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
/* on first page load, should start on light */
body {
    background-color: lightcoral;
    color: black;
}


.dark-mode {
    background-color: darkred;
    color: lightblue;
}

.media-scroller {
    --spacer: 2rem;
    display: grid;
    gap: var(--spacer);
    grid-auto-flow: column;
    grid-auto-columns: 21%;

    padding: 0 var(--spacer) var(--spacer);

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--spacer);
    padding: var(--spacer);
    background: var(--cyan-12);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
    color: white;
}

.media-element > img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--spacer);
}

.snaps-inline > * {
    scroll-snap-align: start;
}

.header {
    background: var(--cyan-12);
}

#albums {
    color: white;
}

#light-dark {
    display: contents;
}

