@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

:root {
    --text-color: #fef3c7;
    --search-bar-color: #c7d2fe;
}
/* on first page load, should start on light */
body {
    background-color: #e0e7ff;
}

.dark-mode {
    background-color: #818cf8;
}

#light-dark {
    display: contents;
}

main label {
    color: var(--text-color)
}
.media-scroller {
    --spacer: 2rem;
    display: grid;
    gap: var(--spacer);
    grid-auto-flow: column;
    grid-auto-columns: 21%;

    padding: 0 var(--spacer) var(--spacer);

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--spacer);
    padding: var(--spacer);
    background: #c7d2fe;
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
    color: var(--text-color);
}

.media-element > img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--spacer);
}

.snaps-inline > * {
    scroll-snap-align: start;
}

body header {
    background-color: #fefce8;
}

#artist-search {
    color: var(--text-color);
    background-color: var(--search-bar-color);
}

#genre-number-input {
    color: var(--text-color);
    background-color: var(--search-bar-color);
}

#genres {
    border: 1px solid red;
    color: var(--text-color);
}

#albums {
    color: var(--text-color);
    border: 1px solid orange;
}



